@import "tailwindcss";

:root {
    --primary-button-color: rgb(229,9,20);
}

@layer utilities {
  .scrollbar-hide {
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;     /* Firefox */
  }

  .scrollbar-hide::-webkit-scrollbar {
    display: none;             /* Chrome, Safari */
  }
}

.border-text {
    -webkit-text-stroke: 2px white;
    color: black;
}

.accordion-body.body:hover {
  background-color: rgb(65,65,65);
}

.accordion-animate {
  max-height: 0;
  opacity: 0;
  overflow: hidden;
  transition: max-height 0.5s ease, opacity 0.3s ease;
}

.accordion-answer .show {
  max-height: 500px;
  opacity: 1;
}